. {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}

.left-header {
    width: 20%;
    height: 257px;
    float: left;
}

.header_container {
    width: 100%;
    height: 300px;
}

#logo {
    width: 300px;
    height: 300px;
}

#banner {
    width: 100%;
    height: 300px;
}

.right_header {
    width: 80%;
    height: 257px;
    float: left;
}

.searchbtn {
    width: 50%;
    height: 50px;
    padding-top: 40px;
    padding-left: 40px;
}

.searchbtn input {
    width: 350px;
    height: 30px;
    padding-left: 30px;
}

.searchbtn button {
    width: 60px;
    color: wheat;
    background-color: black;
    line-break: auto;
    position: absolute;
}

.header_user_info {
    width: 50%;
    height: 50px;
    display: inline-table;
    float: right;
}

.header_user_info ul {
    list-style-type: none;
    color: white;
    text-align: center;
}

.header_user_info ul li {
    display: inline-table;
    list-style-type: none;
    width: 120px;
    height: 50px;
    line-height: 50px;
}

.header_user_info ul li a {
    text-decoration: none;
    display: block;
    color: brown;
    font-size: 20px;
}

.header_user_info ul li a:hover {
    background-color: black;
    color: white;
}

.left_column {
    width: 20%;
    height: 100%;
    font-size: larger;
    float: left;
}

h4 {
    text-align: center;
}

.menu_block_left ul li {
    list-style-type: none;
    position: relative;
    width: auto;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid;
}

.menu_block_left ul li a {
    text-decoration: none;
    font-size: 24px;
}

.menu_block_left ul li a:hover {
    color: white;
    background-color: black;
    font-size: 26px;
}

.menu_block_left ul li>.sub_menu {
    display: none;
    width: 250px;
    height: auto;
    left: 250px;
    top: 0;
}

.menu_block_left ul li:hover>.sub_menu {
    display: block;
    position: absolute;
    background-color: white;
}

.right_column {
    width: 80%;
    height: 100%;
    float: left;
}